html {
  width: 100%;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #333333 !important;
  position: 0;
}

.header img {
  padding: 10px 30px 10px 30px;
  width: 60px;
}
