body {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.logo {
  width: 250px;
  height: 250px;
  text-align: center;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.centeredSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
